* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  background-color: rgb(243, 243, 243);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.instagram-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 935px;
  margin: 32px auto 0;
  padding-bottom: 32px ;
  width: 100%;
  height: 100vh;
}

/* card1 */
.instagram-phone{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  background-image: url(./img/bacground.png);
  align-self: center;
  background-size: 460px 630px;
  margin-right:32px;
  margin-bottom: 12px;
  height: 580px;
}

.slide {
  opacity: 0;
  position: absolute;
  transition: opacity 10s  ease-in;
  z-index: 2;
  width: 250px;
  margin-top: 4px;
  margin-left:68px;
  height: 530px;
}


.instagram-form{
  display: flex;
  flex-direction: column;
  width: 50%;
 
}

.logonImg{
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logonImg img{
  width: 50%;
}

.boxLogin{
  width: 78%;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  border-radius: 1px;
}

.dadosPerfil{
   margin: 0 40px 6px;
}

.usuario{
  width: 100%;
  align-items: center;
  color: #8e8e8e;
  opacity: 0.8;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 9px 0px 7px 8px;
  outline: 0;
  overflow: hidden;
  background-color: #fafafa;
  line-height: 20px;
  font-size: 11px;
  margin-bottom:  7px;
}
.usuario:hover{
  outline: 1px solid #dbdbdb;
}

.senha{
  width: 100%;
  align-items: center;
  color: #8e8e8e;
  outline: none;
  opacity: 0.8;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 9px 0px 7px 8px;
  background-color: #fafafa;
  line-height: 17px;
  font-size: 11px;
  margin-bottom: 7px;
 
}

.senha:hover{
  outline: 1px solid #dbdbdb;
}

.botao1{
  margin-top: 7px;
  cursor: pointer;
  background-color: #0095f6;
  opacity: 0.3;
  color: #fff;
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 9px;
  text-align: center;
  line-height: 18px;
  width: 100%;
  margin-bottom: 30px;
}

.linha{
  display: flex; 
}

#linha{
  width: 500px;
  border-bottom: 1px solid #dbdbdb; 
 }

.risco{
  text-transform: uppercase;
  font-weight: 600;
  margin: -7px 18px;
  font-size: 13px;
  color: #8e8e8e;
  text-align: center;
}

.dadosBotao2{
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.dadosBotao2 a{
  text-decoration: none;
  list-style: none;
  color: #00376b;
}

.facebook{
 cursor: pointer;
 color: #385185;
 font-size: 14px;
 line-height: 18px;
 font-weight: 600;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.facebook i{
  font-size: 18px;
  margin: 15px;
 
}

.reset{
  line-height: 16px;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 15px;
}

/* card2 */
.boxCadastro{
 margin-top: 9px;
  width: 78%;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  border-radius: 1px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 18px;
}

.boxCadastro a{
  text-decoration: none;
  color: #0095f6;
  font-weight: 600;
  
}

/* card3 */

.boxApp{
 display: flex;
 flex-direction: column;
 width: 78%;
 align-items: center;
 line-height: 18px;
 margin: 20px 0px 20px 0px;
 font-size: 14px;
 color: #262626;
}

.boxApp-download{
  margin: 10px 0px 10px 0px;
}

#botao4{
  margin-right: 8px;
  height: 40px;
}

.footer{
  display: flex;
  flex-direction:column;
  align-items: stretch;
  justify-content: center;
 
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #8e8e8e;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 8rem;
  margin-right: 12rem;
  position: relative;
  margin-bottom:  52px;
}

.menu li, a{
  text-decoration: none;
  position: relative;
  list-style: none;
  color: #8e8e8e;
  padding: 3px;

}

.menu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.rodape{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.idioma{
  font-size: 12px;
  line-height: 16px;
  margin: -2px 0 -3px;
}

.mudarIdioma{
  cursor: pointer;
  opacity: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  overflow: visible;
}

.copy{
  font-size: 12px;
  line-height: 16px;
  margin-left: 20px;
}


/* media queries */

@media (max-width: 1024px) {
  .instagram-wrapper {
    width: 90%;
  }
}

@media (max-width: 750px) {
  body {
    background-color: #ffffff;
  }

  .instagram-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 0 10px 0;
    padding-bottom: 32px ;
  }

  .instagram-phone {
    display: none;
  }

  .boxApp{
  
    text-align: center;
  }
 
  .boxApp-download{
    display: flex;
    justify-content: center;
  }

  .boxApp-download img{
   width: 100%;
  }

 
}
